<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Events</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h1>Index Page</h1>
    <button onclick="plotcharts()">Display charts</button>
    <div id="plot"></div>
    <div id="plot2"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
